<footer class="footer">
    <div class="footer__top">
        <div class="footer__top__logo-container">
            <app-text [type]="TextType.P" class="poppins-semibold" content="Emazon"></app-text>
        </div>
        <div class="footer-top__nav">
            <!-- <app-nav></app-nav> -->
             Info for the footer nav will be added here
        </div>
    </div>
    <app-divider></app-divider>
    <div class="footer__bottom">
        <app-text [type]="TextType.P" class="poppins-regular" content="© 2024 Emazon. All rights reserved."></app-text>
    </div>
</footer>
