<article *ngIf="isVisible" class="notification" [ngClass]="type"  >
        <div class="notification__icon">
            <fa-icon
                [icon] = "type === 'success' ? circleCheck :
                    type === 'error' ? circleXmark :
                    type === 'warning' ? circleExclamation :
                    circleInfo
                "
            ></fa-icon>
        </div>
            <app-text [content]="message"  [ngClass]="type"></app-text> 
    <div class="notification__close" (click)="close()">
        <fa-icon [icon]="xIcon" class="close" ></fa-icon>
    </div>  
</article>