@use "styles" as *;

@keyframes slideIn{
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut{
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.notification {
    position: fixed;
    top: 7rem;
    left: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    height: 6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    animation: slideIn 0.5s ease-out;
    background-color: $white;
    z-index: 999;

    @extend .body-xs;

    &__icon{
      font-size: 1.5rem;
    }

    &__close{
      padding: 1rem;
      cursor: pointer;
      align-self: center;
    }

    &.success {
      color: $approval;
      border-left:0.6rem solid rgba($approval, 0.5) ;

    }
    &.error {
      color: $error;
      border-left:0.6rem solid rgba($error, 0.5) ;
    }

    &.info {
      color: $purple;
      border-left:0.6rem solid rgba($purple, 0.5) ;
    }
    &.warning {
      color: $attention;
      border-left:0.6rem solid rgba($attention, 0.5) ;
    }

    &.slideOut{
      animation: slideOut 0.5s ease-out;
    }
    
    
}


