@use "styles" as *;

.header{
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: $purple;

    &__logo{
        @include poppins-semibold;
        cursor: pointer;
    }

    &__nav{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-menu{
            position: fixed;
            transition: 0.4s ease-in-out;   
            right: -280px;
            top: 84px;
            width: 180px;
            height: 100%;
            background-color: $purple ;
        }


        &-menu-icon{
            display: block;
            font-size: 4rem;
            padding: 10px;
        }


        @include desktop{
            
            &-menu{
                display: flex;
                top: 20px;
                right: 10%;
                height: 0;
            }

            &-menu-icon{
                display: none;
            }
        }
    }


}

.toggle_menu{
    right: 0;
    transition: 0.4s ease-in-out;   
}