<article class="container">
    <section class="container__items">
        <div class="container__items-selectors">
            <app-select-field
                class="body-m"
                [row]="true"
                label="Mostrar: "
                id="itemsPerPage"
                [options]="[5,10,15]"
                (change)="changeSize($event)"
            ></app-select-field>
            <app-select-field
                class="body-m"
                [row]="true"
                label="Ordenar por : "
                id="orderBy"
                [options]="[{label:'nombre',value: 'name'}, {label:'marca',value: 'brand'}, {label:'N° categorias',value:'categories'}]"
                labelParam="label"
                valueParam="value"
                (change)="changeSortParam($event)"
            ></app-select-field>
            <div class="constrols__selector">
                <app-text
                    content="Ordenar de forma: "
                ></app-text>
                <app-button
                    (click)="changeAsc()"
                    class="btn-text btn-l"
                    [icon]="isAsc ? faArrowDownAZ : faArrowUpAZ"
                ></app-button>
            </div>
        </div>
        <div class="container__items-card">
            <app-text
                *ngIf="items.content.length === 0"
                content="No hay productos disponibles"
            ></app-text>
            <app-card
                *ngFor="let item of items.content"
                [id]="item.id"
                [title]="item.name"
                [description]="item.description"
                [price]="parsePrice(item.price)"
                [stock]="item.stock"
                [brand]="item.brand.name"
                [categories]="getCategoriesNames(item.categories)"
                (clickedAdd)="addItemToCart($event)"
            ></app-card>
        </div>
        <div class="container__items-selectors">
            <app-button
                class="btn-text btn-s"
                (click)="previousPage()"
                [disabled]="items.pageNumber === 0"
                [icon]="faAnglesLeft"
            ></app-button>
            <div class="controls__selector">
                <app-text
                    [content]="(items.pageNumber + 1).toString()"
                ></app-text>
            </div>
            <app-button
                class="btn-text btn-s"
                (click)="nextPage()"
                [disabled]="items.last"
                [icon]="faAnglesRight"
            ></app-button>
        </div>
    </section>
</article>

