@use "styles" as *;

:host{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    &__items{
        display: flex;
        flex-direction: column;
        width: 100%;

        &-selectors{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            .constrols__selector{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        &-card{
            display: grid;
            place-items: center;
            place-content: flex-start;
            gap: 1rem;
            padding: 1rem;
            margin:  1rem 1rem 1rem 0;
            width: 100%;
            grid-template-columns: 1fr;

            @include tablet{
                grid-template-columns: repeat(2, 1fr);
            }

            @include desktop{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}