@use "styles" as *;

.nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: nav;

    app-nav-link{
        border-bottom: 1px solid $spacer;
        padding: 1rem 0rem 1rem 1.5rem;


    }

    @include desktop{
        flex-direction: row;
        align-items: center;

        app-nav-link{
            border-bottom: none;
        }
    }
}