<nav class="nav" >
    <app-nav-link linkUrl="/dashboard/home" linkText="Home"></app-nav-link>
    <app-nav-link linkUrl="/dashboard/categories" linkText="Categorias"></app-nav-link>
    <app-nav-link linkUrl="/dashboard/brands" linkText="Marcas"></app-nav-link>
    <app-nav-link linkUrl="/dashboard/items" linkText="Productos"></app-nav-link>
    <app-nav-link linkUrl="/dashboard/warehouse-assistant" linkText="Aux bodega" *appRole="Roles.ADMIN"></app-nav-link>
    <app-nav-link (click)="logout()" linkText="Cerrar Sesion"></app-nav-link>
</nav>
