<div class="selector-field" [class.row]="row" [ngClass]="{'align-items-center': !!row}">
    <app-text [content]="label" [for]="id" [type]="TextType.LABEL"></app-text>
    <app-select
        [id]="id" 
        [name]="name"
        [class]="class" 
        [options]="options"
        [valueParam]="valueParam"
        [labelParam]="labelParam"
        [error]="!!errorMessage" 
        [selected]="selected"
        (change)="onSelected($event)"
        [multiple]="multiple"
        data-test="select"
    ></app-select>
    <div class="error-message" *ngIf="errorMessage">
        <app-text [content]="errorMessage" class="error body-xs"></app-text>
    </div>

</div>
