<article>
    <section class="controls">
        <div class="controls__selector">
            <app-text [type]="TextType.LABEL" content="Mostrar:" for="itemsPerPage" ></app-text>
            <select id="itemsPerPage" (change)="changeSize($event)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>   
        </div>
        <div class="controls__selector">
            <app-text [type]="TextType.LABEL" content="Ordenar por nombre:" ></app-text>
            <app-button 
                    [icon]="isAsc ? faArrowDownAZ : faArrowUpAZ"
                    (click)="changeAsc()"
                    class="btn-text btn-l"
            ></app-button>
        </div>
    </section>

    <div class="table-container">  
        <table class="table">
            <thead>
                <tr class="table__header">
                    <th class="table__cell" *ngFor="let header of HeadArray">{{header.name}}</th>
                </tr>
            </thead>
            <ng-template [ngIf]="BodyArray.length === 0" [ngIfElse]="data">
                <div class="no-data">
                    <app-text [type]="TextType.H2" content="No hay datos" ></app-text>
                </div>
            </ng-template>

            <ng-template #data>
                <tbody>
                    <tr class="table__row" *ngFor="let data of BodyArray" >
                        <td class="table__cell" *ngFor="let head of HeadArray" >
                            {{data[head.key]}}
                        </td>
                    </tr>   
                </tbody>
            </ng-template>
        </table>
    </div>

    <section class="controls" >
        <app-button
            class="btn-text btn-s"
            (click)="previousPage()"
            [disabled]="page === 0"
            [icon]="faAnglesLeft"
        ></app-button>
        <div class="controls__selector">

            <app-text [content]="(page+1).toString()"></app-text>
        </div>
        <app-button
            class="btn-text btn-s"
            (click)="nextPage()"
            [disabled]="(page+1) === totalPages"
            [icon]="faAnglesRight"
        ></app-button>
    </section>

</article>

