<article class="container">
    <section class="controls">
        <div class="controls__selector">
            <app-text [type]="TextType.LABEL" content="Mostrar:" for="itemsPerPage" ></app-text>
            <select id="itemsPerPage" (change)="changeSize($event)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>   
        </div>
        <app-select-field
            [row]="true"
            label="Ordenar por : "
            id="orderBy"
            [options]="sortOptions"
            labelParam="label"
            valueParam="value"
            (change)="changeSortParam($event)"
        ></app-select-field>
        <div class="controls__selector">
            <app-text [type]="TextType.LABEL" content="Ordenar de forma:" ></app-text>
            <app-button 
                    [icon]="isAsc ? faArrowDownAZ : faArrowUpAZ"
                    (click)="changeAsc()"
                    class="btn-text btn-l"
            ></app-button>
        </div>
    </section>

    <div class="table-container">  
        <table class="table">
            <thead>
                <tr class="table__header">
                    <th class="table__cell" *ngFor="let header of HeadArray">{{header.label}}</th>
                </tr>
            </thead>
            <ng-template [ngIf]="BodyArray.length === 0" [ngIfElse]="data">
                <div class="no-data">
                    <app-text [type]="TextType.H2" content="No hay datos" ></app-text>
                </div>
            </ng-template>

            <ng-template #data>
                <tbody>
                    <tr class="table__row" *ngFor="let data of BodyArray" >
                        <td class="table__cell" *ngFor="let head of HeadArray" >
                            <span *ngIf="head.value === 'price'; else defaultcontent">
                                {{data[head.value] | currency}}
                            </span>
                            <ng-template #defaultcontent>
                                {{data[head.value]}}
                            </ng-template>
                        </td>
                        <ng-template [appRole]="Roles.WAREHOUSE_ASSISTANT">
                            <td class="" *ngIf="showActions" >
                                <app-button
                                    class="btn-main btn-s"
                                    (click)="doActionOnClick(data)"
                                    [icon]="faPlus"
                                ></app-button>
                            </td>
                        </ng-template>
                    </tr>   
                </tbody>
            </ng-template>
        </table>
    </div>

    <section class="controls" >
        <app-button
            class="btn-text btn-s"
            (click)="previousPage()"
            [disabled]="page === 0"
            [icon]="faAnglesLeft"
        ></app-button>
        <div class="controls__selector">

            <app-text [content]="(page+1).toString()"></app-text>
        </div>
        <app-button
            class="btn-text btn-s"
            (click)="nextPage()"
            [disabled]="(page+1) === totalPages"
            [icon]="faAnglesRight"
        ></app-button>
    </section>

</article>

