<div class="selector-field">
    <app-text [content]="label" [for]="id" [type]="TextType.LABEL"></app-text>
    <app-selector 
        [id]="id" 
        [name]="name"
        [class]="class" 
        [options]="options"
        [error]="!!errorMessage" 
        [selected]="selected"
        (change)="onSelected($event)"
        [multiple]="multiple"
    ></app-selector>
    <div class="error-message" *ngIf="errorMessage">
        <app-text [content]="errorMessage" class="error body-xs"></app-text>
    </div>

</div>
