<article class="container">
    <section class="container-bg-img">
        <!-- <img 
            src="assets/images/background.png" 
            alt="background img"
            class="background-image"
        /> -->
        <app-text
            [type]="TextType.H1"
            content="Emazon"
            class="body-m-regular"
        ></app-text>
        <app-text
            [type]="TextType.P"
            content="Bienvenido al lugar, donde encuentras todo lo que necesitas"
            class="body-xs text-break"
        ></app-text>
    </section>
    <section class="container-form">
        <div class="container-form__items-title">
            <app-text
                [type]="TextType.H3"
                content="Iniciar sesion"
            ></app-text>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="container-form__items">
                <app-input-field
                    placeholder="Email"
                    label="Email"
                    id="email"
                    inputType="email"
                    formControlName="email"
                    [errorMessage]="emailErrorMessage"
                ></app-input-field>
                <app-input-field
                    placeholder="Password"
                    label="Password"
                    id="password"
                    inputType="password"
                    formControlName="password"
                    [errorMessage]="passwordErrorMessage"
                ></app-input-field>
                <div
                    style="display: flex; gap: 0.1rem;"
                >
                    <app-text
                        [type]="TextType.P"
                        content="¿No tienes cuenta?"
                        class="body-xs"
                    ></app-text>
                    <a href="/register"
                        class="test"
                    >
                        Registrate
                    </a>
                    <!-- <app-link
                        [text]="'Registrate'"
                        [routerLink]="['/sign-up']"
                    ></app-link> -->
                </div>
                <div class="container-form__items-btn">
                    <app-button
                        text="iniciar sesion"
                        class="btn btn-main btn-s"
                        [disabled]="loginForm.invalid"
                    ></app-button>
                </div>
            </div>
        </form>
    </section>
</article>
