<div class="input-field">
    <app-text [content]="label" [for]="id" [type]="TextType.LABEL" ></app-text>
    <app-input 
        [type]="inputType" 
        [id]="id" 
        [name]="name" 
        [placeholder]="placeholder" 
        [class]="class" 
        [error]="!!errorMessage"
        [value] = "value"
        (input)="onInput($event)"
        data-test="input"
    ></app-input>
    <div class="error-message" *ngIf="errorMessage">
        <app-text [content]="errorMessage" class="error body-xs">
        </app-text>
    </div>

</div>